table#spreadsheet-advanced { 

  border-collapse: collapse; 

  border: 1px solid #839E99;

  background: #f1f8ee; 

  font-size: 100%;

  font: inherit;

  font-style: inherit;

  font-variant-ligatures: inherit;

  font-variant-caps: inherit;

  font-variant-numeric: inherit;

  font-variant-east-asian: inherit;

  font-weight: inherit;

  font-stretch: inherit;

  font-size: 100%;

  line-height: inherit;

  font-family: inherit;

  vertical-align: baseline;

}

#spreadsheet-advanced td,

#spreadsheet-advanced th { 

  padding: 12px 3px .75em 3px; 

  line-height: 1em; 

}

#spreadsheet-advanced th { 

  background: #839E99; 

  font-weight: bold; 

  text-align: left; 

  padding-right: .5em; 

  vertical-align: top; 

}

#spreadsheet-advanced thead th { 

  background: #ebf5ff;

  font-weight: 500;

  font-size: 15px;

}

#spreadsheet-advanced .odd td { 

  background: #DBE6DD; 



}

#spreadsheet-advanced .odd th { 

  background: #6E8D88; 



}

#spreadsheet-advanced td a,

#spreadsheet-advanced td a:link { 

  color: #325C91; 

}

#spreadsheet-advanced td a:visited { 

  color: #466C8E; 

}

#spreadsheet-advanced td a:hover,

#spreadsheet-advanced td a:focus { 

  color: #1E4C94; 

}

#spreadsheet-advanced th a,

#spreadsheet-advanced td a:active { 

  color: #fff; 

}

#spreadsheet-advanced tfoot th,

#spreadsheet-advanced tfoot td { 

  background: #2C5755; color: #fff; 

}

#spreadsheet-advanced th + td { 

  padding-left: .5em; 

}

/*#spreadsheet-advanced a.caption-a {

  padding-left: 8px;

  padding-right: 8px;

  padding-top: 9px;

  padding-bottom: 9px;

  border-radius: 4%;

  margin-right: 18px;

  margin-left: -4px;

  color: white;

  background: #03a9f4;

  font-size: 13px;

}*/

#spreadsheet-advanced caption {

     padding-top: 0px !important; 

     padding-bottom: 0px !important; 

}





#spreadsheet-advanced.treetable caption {

    margin-bottom: 7px !important;

}





#spreadsheet-advanced a span.expand-all {

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAf0lEQVQ4jc2SQQ6AIAwEjSf9knKUB/E7eJcejeMFIkEqGkx0ExKa3W5padP8BsDCAZ3hdcTPOYMAe1HEBpFk4IANMBneeM5JBjoRmkyy8fEkziJJGAElvapkooAO6AEl6doLjzV4Rffb1UMLgz/lFh4O8bQnr3xj9SLNVav8GXaVcho14YMEBQAAAABJRU5ErkJggg==



    );

}



#spreadsheet-advanced a span.collapse-all {

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAA6ElEQVQ4jc2SsWoCYRCEvzWpg0WwPwI+y3WpAnY24jPZCoIHqewDeYC8QsReFIL9OWnmP1Y8a93mH2bmH5bdhYcpSStJtfFY0jBpQ0lj41rSqi+glvTnt5E0S9rMXOe51UUx/EqaJ35u7urzIJkqYAocgDfgnHxncwdgai8Az8l0BL6Ab3/YJK3gAdDa+yAVBUh6AT6AJ0DAJiL21kbAu/0t8BkRp4skSZWktaetnjXK2joPsdtCROyAJfAKbLNmvLW2tPcywPttgAnw41ZLteYmQNN7SJIW6ZQrz6SbT2nbx7a4Crhb/QPh8sbSNKtAAQAAAABJRU5ErkJggg==



    );

}



#spreadsheet-advanced .tr-pointer{

  cursor: pointer;

}



#spreadsheet-advanced .three-dot{

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAAZ0lEQVQokbWQsQqAMAwFDyk6WKzYVf//v5zr5uJUh2ZwaAMRPTjI0JekgR/YRBMROMVYe+AawQs4gCy1Cac0plOCo2hipqyagGCZmB+aCcD0Jqgep4UHdtG3utYYgIXyx946dRW/5QYc5g6d5fOr/QAAAABJRU5ErkJggg==);

  padding: 5px;

  margin-right: 15px;

  cursor: pointer;

}



#fsModal .modal {

  position: fixed;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  overflow: hidden;

}



#fsModal .modal-dialog {

  position: fixed;

  margin: 0;

  width: 100%;

  height: 100%;

  padding: 0;

}



#fsModal .modal-content {

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  border: 2px solid #3c7dcf;

  border-radius: 0;

  box-shadow: none;

}



#fsModal .modal-header {

  position: absolute;

  top: 0;

  right: 0;

  left: 0;

  height: 50px;

  padding: 10px;

  background: #6598d9;

  border: 0;

}



#fsModal .modal-title {

  font-weight: 300;

  font-size: 2em;

  color: #fff;

  line-height: 30px;

}



#fsModal .modal-body {

  position: absolute;

  top: 50px;

  bottom: 60px;

  width: 100%;

  font-weight: 300;

  overflow: auto;

}



#fsModal .modal-footer {

  position: absolute;

  right: 0;

  bottom: 0;

  left: 0;

  height: 60px;

  padding: 10px;

  background: #f1f3f5;

}



#fsModal .btn {

  height: 40px;

  border-radius: 0;



  // focus

  &:focus,

  &:active,

  &:active:focus {

    box-shadow: none;

    outline: none;

  }

}



#fsModal .btn-modal {

  position: absolute;

  top: 50%;

  left: 50%;

  margin-top: -20px;

  margin-left: -100px;

  width: 200px;

}



#fsModal .btn-primary,

#fsModal .btn-primary:hover,

#fsModal .btn-primary:focus,

#fsModal .btn-primary:active {

  font-weight: 300;

  font-size: 1.6rem;

  color: #fff;

  color: lighten(#484b5b, 20%);

  color: #fff;

  text-align: center;

  background: #60cc69;

  border: 1px solid #36a940;

  border-bottom: 3px solid #36a940;

  box-shadow: 0 2px 4px rgba(0,0,0,0.15);



  // active

  &:active {

    border-bottom: 1px solid #36a940;

  }

}



#fsModal .btn-default,

#fsModal .btn-default:hover,

#fsModal .btn-default:focus,

#fsModal .btn-default:active {

  font-weight: 300;

  font-size: 1.6rem;

  color: #fff;

  text-align: center;

  background: darken(#dcdfe4, 10%);

  border: 1px solid darken(#dcdfe4, 20%);

  border-bottom: 3px solid darken(#dcdfe4, 20%);



  // active

  &:active {

    border-bottom: 1px solid darken(#dcdfe4, 20%);

  }

}



#fsModal .btn-secondary,

#fsModal .btn-secondary:hover,

#fsModal .btn-secondary:focus,

#fsModal .btn-secondary:active {

  color: #cc7272;

  background: transparent;

  border: 0;

}



#fsModal h1,

#fsModal h2,

#fsModal h3 {

  color: #60cc69;

  line-height: 1.5;



  // first

  &:first-child {

    margin-top: 0;

  }

}



#fsModal p {

  font-size: 1.4em;

  line-height: 1.5;

  color: lighten(#5f6377, 20%);



  // last

  &:last-child {

    margin-bottom: 0;

  }

}



::-webkit-scrollbar {

  -webkit-appearance: none;

  width: 10px;

  background: #f1f3f5;

  border-left: 1px solid darken(#f1f3f5, 10%);

}



::-webkit-scrollbar-thumb {

  background: darken(#f1f3f5, 20%);

}



.luckysheet-datavisual-quick-menu {

  width: 120px;

  overflow: auto;

  margin-top: 15px

}



.luckysheet-datavisual-quick-menu::-webkit-scrollbar {

  display: none

}



.luckysheet-datavisual-quick-menu>div {

  text-align: left;

  padding: 4px 4px;

  border-right: 3px solid #fff;

  color: #777;

  cursor: pointer;

  line-height: 1.4em;

  word-wrap: break-word

}



.luckysheet-datavisual-quick-menu>div:hover {

  color: #000

}



.luckysheet-datavisual-quick-menu>div i {

  width: 15px

}



.luckysheet-datavisual-quick-menu>div:hover i {

  color: #ff7e7e

}



.luckysheet-datavisual-quick-menu>div.luckysheet-datavisual-quick-menu-active {

  border-right: 3px solid #ff7e7e;

  color: #000;

  font-weight: 700

}



.luckysheet-datavisual-quick-menu>div.luckysheet-datavisual-quick-menu-active:hover i {

  color: #000

}



.luckysheet-datavisual-quick-range {

  padding: 5px 0

}



.luckysheet-datavisual-range-container {

  background: #fff;

  border: 1px solid #d9d9d9;

  border-top: 1px solid silver;

  min-width: 20px;

  width: 100%;

  max-width: 200px;

  display: inline-block

}



.luckysheet-datavisual-range-container-focus {

  border: 1px solid #4d90fe;

  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);

  outline: none

}



.luckysheet-datavisual-range-input,.luckysheet-datavisual-range-input:focus {

  background: transparent!important;

  border: none!important;

  box-sizing: border-box;

  box-shadow: none;

  height: 25px;

  margin: 0;

  outline: none!important;

  padding: 1px 8px!important;

  width: 100%

}



.luckysheet-datavisual-range-button-container {

  overflow: hidden;

  padding: 0 0 0 8px;

  text-align: right;

  width: 21px

}



.luckysheet-datavisual-range-button-container div {

  padding: 2px 10px 0 10px;

  font-size: 18px;

  cursor: pointer;

  color: #6598f3

}



.luckysheet-datavisual-range-button-container div:hover {

  color: #ff7e7e

}



.luckysheet-datavisual-quick-m {

  margin-top: 5px;

  min-height: 500px;

  top: 50px;

  font-size: 12px

}



.luckysheet-datavisual-quick-list {

  left: 110px;

  right: 0;

  bottom: 0;

  top: 80px;

  position: absolute;

  overflow: auto;

  border-top: 1px solid #e5e5e5;

  padding: 5px 3px 35px 3px

}



.luckysheet-datavisual-quick-list-title {

  padding: 4px 6px;

  background: #e5e5e5;

  margin-top: 10px

}



.luckysheet-datavisual-quick-list-ul {

  overflow: hidden

}



.luckysheet-datavisual-quick-list-item {

  display: inline-block;

  margin: 5px 8px;

  border: 1px solid #dadada;

  width: 100px;

  height: 80px

}



.luckysheet-datavisual-quick-list-item:hover {

  border: 1px solid #ff7e7e;

  box-shadow: 0 0 20px #ff7e7e

}



.luckysheet-datavisual-quick-list-item img {

  display: inline-block;

  width: 100px;

  height: 80px

}



.luckysheet-datavisual-quick-list-item-active {

  border: 1px solid #6598f3;

  box-shadow: 0 0 20px #6598f3

}



.chart-base-slider .el-slider__runway.show-input {

  margin-right: 72px

}



.chart-base-slider .el-slider__input.el-input-number--mini {

  width: 56px

}



.chart-base-slider .input_content {

  margin: 6px 0 0 5px

}



.title {

  font-weight: 700

}



.el-row {

  font-size: 12px;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none

}



.chartSetting {

  width: 100%;

  height: 100%

}

#luckysheet .sp-container.sp-flat{

  height: 225px !important;

}

.BTNSS, .luckysheet_info_detail_export{

  color: #fff !important;

}

.bottom-btn{

  background-color: #fff;

}


#luckysheet {

  margin:0px;

  padding:0px;

  position:fixed;

  width:100%;

  height:90%;

  left: 210px;

  top:113px;

}



.button-group {

  margin-left: 50px;

}

.button-group:first-child {

  margin-left: 0;

}

.option-select-sheet {

  margin-bottom: 15px;

  width: 100%;

}

.bg--blue-grad {

  background-color: #58DADA;

}



.bg--green-grad {

  background-color: #AAFFC7;

}



.bg--red-grad {

  background-color: #EA4C4C;

}



.bg--purple-grad {

  background-color: #BAB5F6;

}



.bg--orange-grad {

  background-color: #FDA831;

}



.bg--yellow-grad {

  background-color: #FFEFB4;

}



.bg--pink-grad {

  background-color: #FFE2E2;

}



.bg--gray-grad {

  background-color: #808B97;

}



.bg--blue-orange-grad {

  background-color: #FDA831;

}



.bg--green-red-grad {

  background-color: #AAFFC7;

}



.bg--red-yellow-grad {

  background-color: #FFEFB4;

}



.bg--purple-yellow-grad {

  background-color: #FFCD19;

}



.bg--pink-lime-grad {

  background-color: #FFC7C7;

}



input[type="checkbox"] {

  visibility: hidden;

}



input[type="checkbox"] + label:before,

input[type="checkbox"]:checked + label:before {

  display: inline-block;

  font-size: 2em;

  margin-right: 5px;

  vertical-align: middle;

  content: "\2610";

  width: 28px;

  height: 28px;

  line-height: 28px;

}



input[type="checkbox"]:checked + label:before {

  content: "\2612";

  color: #03a9f4;

  animation: pulse 1s;

}



@-webkit-keyframes pulse {

  0% {

    -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);

    border-radius: 50%;

  }

  70% {

    -webkit-box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);

    border-radius: 50%;

  }

  100% {

    -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);

    border-radius: 50%;

  }

}

@keyframes pulse {

  0% {

    -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);

    box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);

    border-radius: 50%;

  }

  70% {

    -moz-box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);

    box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);

    border-radius: 50%;

  }

  100% {

    -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);

    box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);

    border-radius: 50%;

  }

}



.content-share{

  position: unset;

  margin-top: 15px;

}



.popup-overlay{

  /*Hides pop-up when there is no "active" class*/

  visibility: hidden;

  position: absolute;

  background: #ffffff;

  width: 22%;

  left: 70%;

  top: 21%;

  padding: 10px;

  border-radius: 5px 5px 5px 5px;

  box-shadow: 0 0 2 6;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.popup-overlay.active{

  /*displays pop-up when "active" class is present*/

  visibility:visible;

  text-align:left;

}



.popup-content {

  /*Hides pop-up content when there is no "active" class */

  visibility:hidden;

}



.popup-content.active {

  /*Shows pop-up content when "active" class is present */

  visibility:visible;

}



/**

 * Styling top level items

 */

 .nav-class a,

 .nav-class label {

  display: block;

  padding: 14px;

  box-shadow: inset 0 -1px lighten(#151515, 3%);

  transition: all 0.25s ease-in;

  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

  margin-bottom: -1px;

  font-size: 13px;

  border-bottom: 1px solid rgb(198, 198, 198, 0.8);

}

.nav-class label {

  cursor: pointer;

}

/**

 * Styling first level lists items

 */

 .group-list a,

 .group-list label {

  padding-left: 2rem;

  box-shadow: inset 0 -1px lighten(#252525, 7%);

  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

  font-size: 13px;

  border-bottom: 1px solid rgb(198, 198, 198, 0.8);

}

/**

 * Styling second level list items

 */

 .sub-group-list a,

 .sub-group-list label {

  padding-left: 4rem;

  background: #353535;

  box-shadow: inset 0 -1px lighten(#353535, 7%);

  &:focus,

  &:hover {

    background: darken(#353535, 7%);

  }

}

/**

 * Styling third level list items

 */

 .sub-sub-group-list a,

 .sub-sub-group-list label {

  padding-left: 6rem;

  background: #454545;

  box-shadow: inset 0 -1px lighten(#454545, 7%);

  &:focus,

  &:hover {

    background: darken(#454545, 7%);

  }

}

/**

 * Hide nested lists

 */

 .group-list,

 .sub-group-list,

 .sub-sub-group-list {

  height: 100%;

  max-height: 0;

  overflow: hidden;

  transition: max-height 0.5s ease-in-out;

}



.nav__list input[type="checkbox"]:checked + label + ul {

  /* reset the height when checkbox is checked */

  max-height: 1000px;

}

/**

 * Rotating chevron icon

 */

 label > span {

  float: right;

  transition: transform 0.65s ease;

}

.nav__list input[type="checkbox"]:checked + label > span {

  transform: rotate(90deg);

}

/**

 * Styling footer

 */

 

 .soc-media {

  display: flex;

  justify-content: center;

}

.soc-media li:nth-child(n + 2) {

  margin-left: 1rem;

}

.soc-media a {

  font-size: 1.25rem;

  color: rgba(255, 255, 255, 0.65);

  transition: color 0.25s ease-in;

  &:focus,

  &:hover {

    color: rgba(255, 255, 255, 0.2);

  }



}

.popup-overlay.active{

  position: fixed;

  top: 135px;

}



#rel_id_select{

  margin-top: -5px;

}





.share-wrapper, 

.share-action {

  width: 32px;

  height: 32px;

}



.share-wrapper {

  font: 14px, 'FontAwesome';

  position: relative;

  text-align: center; 

}





.share-container {

  margin-left: 0px;

  margin-top:  0px;

  overflow: hidden;

  transition: all 0.3s cubic-bezier(.05,.93,.61,1.6);

  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);

  width: 0px;

  height: 0px;

  background: #fff;

}





.share-action:hover ~ .share-container,

.share-container:hover {

  width: 500px;

  height: 500px;

  overflow: visible;

}







.share-container:after,

.share-container:before {

  position: absolute;

  background:  linear-gradient(rgba(136, 221, 255, 0.5) 0%, rgba(34, 153, 221, 0.5) 50%, rgba(136, 221, 255, 0.5) 100%);

  z-index:4;

  margin: 0;

  transition: all 0.5s ease-in-out;

  content: '';

}



.share-action:hover ~ .share-container:after,

.share-container:hover:after {

  height: 85%;

  margin: 7% 50%;

}



.share-action {

  display: inline-block;

  vertical-align: middle;

  z-index: 5;

  position: relative;

  background: linear-gradient(#8df 0%, #29d 100%);

  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5) inset, 0 0 0px 1px rgba(33, 112, 178, 0.5);

  line-height: 33px;

  color: #fff;

}



.share-btn {

  display:inline-block;

  width: 49%;

  height: 49%;

  position: absolute;

  z-indez:1;

  border-color: #92888f;

  border-style: solid;

  border-width: 0;

  font-size: 0px;

  color: #777777;

  overflow: hidden;

}



.share-action:hover ~ .share-container .share-btn ,

.share-container:hover .share-btn  {

  overflow: visible;

  font-size: 25px;

}



.share-btn:hover {

  background:linear-gradient(#8df 0%, #29d 100%);

  color: #ffffff;

  text-shadow: 0 -1px #4298e0;

}



.share-btn.tl {

  right: 50%;

  bottom: 50%;



}

.share-btn.tr {

  left: 50%;

  bottom: 50%;



}

.share-btn.br {

  left: 50%;

  top: 50%;



}

.share-btn.bl {

  right: 50%;

  top: 50%;



}



.share-btn {

  line-height: 50px;

}



.rc50 {

  border-radius: 50%;

}

.rc50 .share-btn.tl {

  border-top-left-radius: 100%;

}

.rc50 .share-btn.tr {

  border-top-right-radius: 100%;

}

.rc50 .share-btn.br {

  border-bottom-right-radius: 100%;

}

.rc50 .share-btn.bl {

  border-bottom-left-radius: 100%;

}



.rc50.share-container .share-btn.tl {

  text-indent: 5px;

  line-height: 55px;

}

.rc50.share-container .share-btn.tr {

  line-height: 50px;

}

.rc50.share-container .share-btn.br {

  line-height: 46px;

  text-indent: -2px;

}

.rc50.share-container .share-btn.bl {

  text-indent: 2px;

  line-height: 47px;

}





.rc10 {

  border-radius: 3%;

}

.below .share-btn.tl,

.rc10 .share-btn.tl {

  line-height: 50px;

}

.below .share-btn.tr,

.rc10 .share-btn.tr {

  line-height: 45px;

  text-indent: 3px;

}



.below .share-btn.br,

.rc10 .share-btn.br {

  line-height: 50px;

}



.below .share-btn.bl,

.rc10 .share-btn.bl {

  text-indent: -2px;

  line-height: 55px;

}

.rc10 .share-btn.tl {

  border-top-left-radius: 20%;

}

.rc10 .share-btn.tr {

  border-top-right-radius: 20%;

}



.rc10 .share-btn.br {

  border-bottom-right-radius: 20%;

}



.rc10 .share-btn.bl {

  border-bottom-left-radius: 20%;

}



/** positions **/



.below.share-wrapper {

  margin: 50% auto;

  top: -16px;

}

.bottom.share-wrapper {

  margin: 25% auto 0;

}

.top.share-wrapper {

  margin: 65% auto 0;

}



.right.share-wrapper {

  margin: 50% 0 0 25%;

  top: -16px;

}



.below .share-container {

  position: absolute;

  top: 50%;

  left: 50%;

}



.bottom .share-container,

.top .share-container {

  position: absolute;

  top: 0%;

  left: 0%;

}



.left .share-container,

.right .share-container {

  position: absolute;

  top: 0%;

  right: 50%;

}



.bottom .share-action:hover ~ .share-container .share-btn:nth-child(1):after,

.bottom .share-container:hover .share-btn:nth-child(1):after {

  content: '';

  border: 11px solid transparent;

  border-bottom-color: #fff;

  border-top: none;

  width: 0;

  height: 0;

  position: absolute;

  left: 100%;

  margin-left: -11px;

  margin-top: -11px;

}



.top .share-action:hover ~ .share-container .share-btn:nth-child(4):after,

.top .share-container:hover .share-btn:nth-child(4):after {

  content: '';

  border: 11px solid transparent;

  border-top-color: #fff;

  border-bottom: none;

  width: 0;

  height: 0;

  position: absolute;

  left: 100%;

  top: 100%;

  margin-left: -11px;

}



.left .share-action:hover ~ .share-container .share-btn:nth-child(2):after,

.left .share-container:hover .share-btn:nth-child(2):after {

  content: '';

  border: 11px solid transparent;

  border-left-color: #fff;

  border-right: none;

  width: 0;

  height: 0;

  position: absolute;

  left: 100%;

  top: 100%;

  margin-top: -11px;

}



.right .share-action:hover ~ .share-container .share-btn:nth-child(1):after,

.right .share-container:hover .share-btn:nth-child(1):after {

  content: '';

  border: 11px solid transparent;

  border-right-color: #fff;

  border-left: none;

  width: 0;

  height: 0;

  position: absolute;

  right: 100%;

  top: 100%;

  margin-top: -11px;

}



.left .share-action:hover:after,

.right .share-action:hover:after, 

.bottom .share-action:hover:after,

.top .share-action:hover:after {

  position: absolute;

  content: '';

  z-index: 1;  

}



.bottom .share-action:hover:after,

.top .share-action:hover:after {

  width: 200%;

  height: 20px;

  left: -50%; 

  top: 100%;

}



.top .share-action:hover:after {

  top: auto;

  bottom: 100%;

  left: -50%;    

}



.left .share-action:hover:after {

  left: auto;

  width: 20px;

  height: 200%;  

  top: -50%; 

  right: 100%;

  display: block;



}

.right .share-action:hover:after {

  top: -50%; 

  left: 100%;

  width: 20px;

  height: 200%;  

}



.below .share-container,

.top .share-container,

.right .share-container,

.bottom .share-container {

  top : 0%;

  left: 50%;

}

.left .share-container {

  top : 0%;

  right: 50%;

  display: block;

}





[class^="icon-"]:before, [class*=" icon-"]:before {

  

}

a [class^="icon-"], a [class*=" icon-"] {

  display: inline-block;

  text-decoration: inherit;

}

/* makes the font 33% larger relative to the icon container */

.icon-large:before {

  vertical-align: top;

  font-size: 1.3333333333333333em;

}



/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen

readers do not read off random characters that represent icons */





.icon-share:before                { 

  content: "\f045"; 

  font-family: FontAwesome;

  font-weight: normal;

  font-style: normal;

  display: inline-block;

  text-decoration: inherit;}



  .container {

    width: 1000px;

    margin: 0 auto;

  }



  .debug .share-container {

    width: 100px;

    height: 100px;

  }



  ul.tabs{

    margin: 0px;

    padding: 0px;

    list-style: none;

  }

  ul.tabs li{

    background: none;

    color: #222;

    display: inline-block;

    padding: 10px 15px;

    cursor: pointer;

  }



  ul.tabs li.current{

    background: #2374B3;

    color: #fff;

  }



  .tab-content{

    display: none;

    padding: 15px;

  }



  .tab-content.current{

    display: inherit;

  }



  .content-table{

    width: 100%;

  }



  .content-table thead tr{

    background-color: #2374B3;

    color: white;

    text-align: left;

    font-weight: bold;



  }

  .content-table th, .content-table td{

    padding: 12px 15px;

  }

  .content-table tbody tr{

    border-bottom: 1px solid #dddddd;

  }

  .content-table tbody tr:nth-of-type(even){

    background-color: #f3f3f3;

  }

  .content-table tbody tr:last-of-type{

    border-bottom: 2px solid #2374B3;

  }



.tabs{

    padding-right: 15px !important;

    padding-left: 15px !important;

}



table.content-table tr th{

    font-size: 13px;

    font-weight: 500;

    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

    line-height: 1.42857143;

}



#spreadsheet-advanced .related-to-hanlde{

  cursor: pointer;

}

.new-btn-clone{

  position: relative;

  top: 40px;

  right: 10px;

}



.new-btn-clone1{

  position: relative;

  top: 25px;

  right: 10px;

}



.list_information_fields_review_related{

  display: flow-root;

}



.remove_box_information_review, .remove_box_information_review_client{

  top: 15px !important;

}



/************** For Context menu ***********/

/* context menu */

.context-menu {  display: none;  position: absolute;  z-index: 9999;  padding: 12px 0;  width: 200px;  background-color: #fff;  border: solid 1px #dfdfdf;  box-shadow: 1px 1px 2px #cfcfcf;  }

.context-menu--active {  display: block;  }



.context-menu__items { list-style: none;  margin: 0;  padding: 0;  }

.context-menu__item { display: block;  margin-bottom: 4px;  }

.context-menu__item:last-child {  margin-bottom: 0;  }

.context-menu__link {  display: block;  padding: 4px 12px;  color: #0066aa;  text-decoration: none;  }

.context-menu__link:hover {  color: #fff;  background-color: #0066aa;  }

.context-menu__items ul {  position: absolute;  white-space: nowrap;  z-index: 1;  left: -99999em;}

.context-menu__items > li:hover > ul {  left: auto;  padding-top: 5px  ;  min-width: 100%;  }

.context-menu__items > li li ul {  border-left:1px solid #fff;}

.context-menu__items > li li:hover > ul {  left: 100%;  top: -1px;  }

.context-menu__item ul { background-color: #ffffff; padding: 7px 11px;  list-style-type: none;  text-decoration: none; margin-left: 40px; }

.page-media .context-menu__items ul li { display: block; }



#Luckyexcel-demo-file {
  display:none;
}

#file-link {
   margin:8px 0 0 0px;
 }

.files {
  margin:10px 0 0 40px;
}

#up-label {
  cursor:pointer;
}

#file-up {
  display:none;
}

.upload_file_class {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 10px;
  padding-left: 6px;
  background-color: #fff;
}

.new_file_margin {
  margin: 0 0 -7px 0px !important;
}
