.padding-left-right-20-0{
	margin-left: 20px; 
	padding-right: 0px;
}
.paddig-top-height-0-75{
	padding-bottom: 0px; 
	height: 75px;
}
.padding-right-0{
	padding-right: 0px;
}
.lightheitgh-84-nowrap{
	line-height: 84px;
	white-space: nowrap;
}
.border-radius-20{
	border-radius: 20px;
}